extends layout


block content

    h1(class="center-align") Admin Test

    if questions 
        div(class="time teal white-text badge right") #[span(class="min") #{min||min==0? min: 2} ] : #[span(class="sec") #{sec||sec==0? (sec < 10 ? "0"+sec : sec ): 60} ] min
        form(method="POST")
            each question in questions 
                div
                    img(src="../"+question.qn alt="question" class="responsive-img") 
                    br
                    label Select Answer: 
                    select(name=question.qn class="browser-default")
                        each opt in question.opt
                            option(value=opt) #{opt.toUpperCase()}
                br

            div(class="input-field center")
                button(type="submit" class="btn waves-effect waves-blue blue ligthen-3") Submit     

    else if  msg
        h5(class="center-align grey-text") #{msg}

        div(class="center")
            a(href="/dash" class="btn waves-effect waves-blue blue ligthen-3") Home

    else
        p(class="center-align") To Become an Admin you need to answer 10 JavaScript question in 3 mins 

        p(class="center-align") If you are ready to take the test click START

        div(class="center")   
            a(href="/admintest/start" class="btn waves-effect waves-blue blue ligthen-3 dash-btn") Start
            a(href="/dash" class="btn waves-effect waves-blue blue ligthen-3") Cancel


    script.
        const timeDisplay = document.querySelector(".time")
        const min = document.querySelector(".min");
        const sec = document.querySelector(".sec");

        
    
        let m = +min.textContent
        let s = +sec.textContent
        let clear;

        if(timer) {
           clear = setInterval( timer , 1000)
        }

        function timer() {
            if(s <= 00) {
                s = 60
                m -= 1
            }

            if(m < 0) {
                timeDisplay.textContent = "Time's Up"
                clearInterval(clear)
                timeDisplay.classList.remove("teal")
                timeDisplay.className += " red pulse"
                console.log(timeDisplay.classList)
                return
            }
            
            s -= 1
            min.textContent = m 
            sec.textContent = (s < 10 ? "0"+s : s )
        }
