extends layout


block content

    h1 Admin Test

    if questions 
        div(class="time") #[span(class="min") #{min? min: 2} ] : #[span(class="sec") #{sec? (sec < 10 ? "0"+sec : sec ): 60} ] min(s)
        form(method="POST")
            each question in questions 
                div
                    img(src="../"+question.qn alt="question" width="1000") 
                    br
                    label Select Answer: 
                    br
                    - const styles = { width: "50%" }
                    select(name=question.qn style=styles)
                        each opt in question.opt
                            option(value=opt) #{opt.toUpperCase()}
                hr
            button(type="submit") Submit     

    else if  msg
        h3 #{msg}
        button
            a(href="/dash") Home

    else
        p To Become an Admin you need to answer 10 JavaScript question in 3 mins 

        p If you are ready to take the test click START

        div 
            button
                a(href="/admintest/start") Start
            
            button
                a(href="/dash") Cancel


    script.
        const timeDisplay = document.querySelector(".time")
        const min = document.querySelector(".min");
        const sec = document.querySelector(".sec");
    
        let m = +min.textContent
        let s = +sec.textContent
        let clear;

        if(timer) {
           clear = setInterval( timer , 1000)
        }

        function timer() {
            if(s <= 00) {
                s = 60
                m -= 1
            }

            if(m < 0) {
                timeDisplay.textContent = "Time's Up"
                return clearInterval(clear)
            }
            
            s -= 1
            min.textContent = m 
            sec.textContent = (s < 10 ? "0"+s : s )
        }
