extends layout

block content
    h1(class="center-align") Welcome  #{currentUser? currentUser.fullName : "My freind"}

    div(class="row center")
        a(href="/post" class="btn waves-effect waves-blue blue ligthen-3 dash-btn ") Create New Post

        if !currentUser.admin
            a(href="/admintest" class="btn waves-effect waves-blue blue ligthen-3") Become an Admin

    hr

    each msg in data
        div(class="card teal white-text text-darken-4 hoverable")
            div(class="card-content")
                span(class="card-title") #{msg.title}
                p #{msg.message}
                - const date = new Date(msg.date).toLocaleString()
                p #[span(class="left") By: #[em #{msg.author.fullName}] ]   #[span(class="right") Date: #[em #{date}] ] 

            if currentUser
                if currentUser._id.toString() == msg.author._id.toString() || currentUser.admin
                    div(class="card-action") 
                        a(href="/messages/delete/" + msg._id class="btn waves-effect waves-blue blue ligthen-3 dash-btn") Delete 
                            i(class="material-icons white-text right") delete  

                        if currentUser._id.toString() == msg.author._id.toString()
                            a(href="/messages/edit/" + msg._id class="btn waves-effect waves-blue blue ligthen-3") Edit 
                                i(class="material-icons white-text right") edit
            
        
    else 
        p There are no messages to display